.header-container-wide{
    background-color: white !important;
width: 100%;

padding-bottom: 50px;

padding-top: 50px;

}

.hero__caption h1{
    color: red !important;
}

.hero-water-bottle-image{
    max-width: 100%;
}
.header-hero-title{
    padding-top: 30px;
}
.header-hero-title h1{
    font-size: 5rem;
}
.header-hero-title h2{
    font-size: 3rem;
    margin-top: -13px !important;
    margin-bottom: 15px;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}

.shop-now-btn{
    margin-top: 30px;
}
.product-item-image{
    height: 300px;
    width: auto !important;
}

.stepsImage{
    width: 80px;
    height: auto;
    text-align: center;
}

.stepsTitle {
    text-align: center;
    margin-bottom: 100px;
    padding: 0;
    font-size: 2em;
}
.filtra_logo {
  width: 100px !important;
}
.footer-style{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_subtitle{
    color:white;
    margin-bottom: 20px;
}
.footer_link{
    color: white !important;
    margin-bottom: 10px;
}
